<div class="content-wrapper">
    <mat-tab-group>
        <mat-tab label="Persönliche Informationen">
            <mat-card class="card address-card">
                <mat-card-content>
                    <form [formGroup]="addressFormGroup">
                        <ng-template matStepLabel>Persönliche Informationen</ng-template>
                        <h4 class="primary">Anschrift</h4>
                        <div fxLayout="row">
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="Firma" formControlName="company" name="company" required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field fxFlex="45">
                                <input matInput placeholder="Vorname" formControlName="firstName" name="firstName"
                                    required>
                            </mat-form-field>
                            <mat-form-field fxFlex="45">
                                <input matInput placeholder="Nachname" formControlName="lastName" name="lastName"
                                    required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="Straße und Nr." formControlName="address" name="address" required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field fxFlex="45">
                                <input matInput placeholder="PLZ" formControlName="zipCode" name="zipCode" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="45">
                                <input matInput placeholder="Stadt" formControlName="city" name="city" required>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <button mat-button color="primary" (click)="updateAddress()">Speichern</button>
        </mat-tab>
        <mat-tab label="Zahlungsinformationen">
            <mat-card class="card payment-card">

                <mat-card-content class="card-content">

                    <form [formGroup]="paymentFormGroup" fxLayout="column">
                        <ng-template matStepLabel>Zahlungsinformationen</ng-template>
                        <h4 class="primary">Kreditkarte hinzufügen</h4>
                        <div fxLayout="row" fxLayoutAlign="space-between ">
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="Karteninhaber" formControlName="cowner" name="cowner"
                                    required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field fxFlex="70">
                                <input matInput placeholder="Kartennummer" formControlName="cnumber" name="cnumber"
                                    required>
                            </mat-form-field>
                            <mat-form-field fxFlex="20">
                                <input matInput placeholder="CVV" formControlName="ccv" name="ccv" required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field fxFlex="45">
                                <input matInput placeholder="Ablaufmonat" formControlName="emonth" name="emonth"
                                    required>
                            </mat-form-field>
                            <mat-form-field fxFlex="45">
                                <input matInput placeholder="Ablaufjahr" formControlName="eyear" name="eyear" required>
                            </mat-form-field>
                        </div>

                    </form>

                </mat-card-content>
            </mat-card>
            <button mat-button color="primary" (click)="updatePayment()">Speichern</button>
        </mat-tab>
        <mat-tab label="Vertrag ändern">
            <div >
                <mat-radio-group required [(ngModel)]="contract" fxLayoutAlign="space-between stretch" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <mat-card class="card contract-card" fxFlex="30">
                        <mat-card-content>
                            <mat-radio-button color="primary" value="standart">
                                <h3>Standart</h3>
                            </mat-radio-button>

                            <p>Reperatur innerhalb von 2 Werktagen</p>
                            <h4 class="primary">19€/Monat</h4>

                        </mat-card-content>
                    </mat-card>
                    <mat-card class="card contract-card" fxFlex="30">
                        <mat-card-content>
                            <mat-radio-button color="primary" value="silber">
                                <h3>Silber</h3>
                            </mat-radio-button>
                            <p>24/7 Support</p>
                            <p>Reperatur innerhalb eines Werktages</p>
                            <h4 class="primary">29€/Monat</h4>

                        </mat-card-content>
                    </mat-card>
                    <mat-card class="card contract-card" fxFlex="30">
                        <mat-card-content>
                            <mat-radio-button color="primary" value="gold">
                                <h3>Gold</h3>
                            </mat-radio-button>
                            <p>24/7 Support</p>
                            <p>
                                Automatische Beauftragung der Reperatur
                            </p>
                            <p>Reperatur innerhalb von 4 Stunden</p>
                            <h4 class="primary">49€/Monat</h4>

                        </mat-card-content>
                    </mat-card>
                </mat-radio-group>

            </div>
            <button mat-button color="primary" (click)="updateContract()">Speichern</button>

        </mat-tab>
    </mat-tab-group>
</div>