.sidebar {
  width: 250px;
}

.sidebar img {
  height: 3.2rem;
  margin: 3rem 0 2rem 0;
}

mat-icon {
  margin: 0 0.8rem 0 2.8rem;
}

mat-nav-list a {
  margin-bottom: 0.6rem;
}

.mat-list-base {
  width: 100%;
}
