<div class="sidebar">
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/logo.svg" alt="SmartBP" />
    <mat-nav-list>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        mat-list-item
        color="primary"
      >
        <mat-icon>dashboard</mat-icon>Dashboard
      </a>
      <a routerLink="/add" routerLinkActive="active" mat-list-item>
        <mat-icon>add</mat-icon>Hinzufügen
      </a>
      <a routerLink="/payment" routerLinkActive="active" mat-list-item>
        <mat-icon>payment</mat-icon>Zahlungen
      </a>
      <a routerLink="/order" routerLinkActive="active" mat-list-item>
        <mat-icon>event</mat-icon>Beauftragen
      </a>
      <a routerLink="/settings" routerLinkActive="active" mat-list-item>
        <mat-icon>settings</mat-icon>Einstellungen
      </a>
    </mat-nav-list>
  </div>
</div>
