.wrapper {
  margin: 0 1rem;
}

.notification-btn {
  padding: 1rem;
  height: auto;
}

.empty-messages {
  padding: 2rem;
  img {
    height: 6rem;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
  }
}

h6 {
  margin: 1rem 0;
}
