.login-info {
  img {
    width: 100%;
    margin-top: 0;
  }
  .text {
    margin-top: -52px;
  }
  h1 {
    font-size: 1.7rem;
  }
}

.login-form {
  margin-top: 1rem;
  width: 20rem;
}

.login-logo {
  top: 2rem;
  left: 3rem;
  position: absolute;
  height: 3.3rem;
}
